/* 섹션으로 메인과 오른쪽으로 구분 */
.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    background-color: #FAFAFA;

}

/* 섹션 구분 */
.main_section {
    width: 600px;
    height: 100%;
    margin-right: 360px;
    border: 1px solid gray;
}

.main_profile_section {
    border: solid 1px gray;
    background-color: white;
}

.right_section {
    width: 400px;
    height: 1000px;
    position: fixed;
    left: 62%
}

.profile_section {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.profile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}

.img_box {
    width: 50px;
    height: 50px;
    border-radius: 70%;
    overflow: hidden;
    margin: 10px;
}

/* 헤더 부분 */
header {
    background-color: white;
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row; /* row로 설정할경우 가로로 정렬됨*/
    justify-content: center;
    align-items: center;
}

/* 푸터 부분 */
footer {
    background-color: darkred;
    width: auto;
    height: 100px;
}